<main class="container mt-5">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="mb-4">Registro</h1>
        <form action="/api/sessions/register" method="POST" class="form-group w-50">
            <input type="text" name="first_name" class="form-control mb-3" placeholder="Introduzca el nombre" required>
            <input type="text" name="last_name" class="form-control mb-3" placeholder="Ingrese el apellido" required>
            <input type="email" name="email" class="form-control mb-3" placeholder="Ingrese el email" required>
            <input type="password" name="password" class="form-control mb-3" placeholder="Ingrese el pass" required>
            <button type="submit" class="btn btn-primary btn-block">Enviar</button>
            <div class="mt-3">
                <a href="/login" class="text-primary">¿Ya tienes una cuenta? Inicia sesión</a>
            </div>
        </form>
    </div>
</main>
